name: CI/CD

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  id-token: write  # For NPM trusted publishing
  contents: write  # For git push

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Install dependencies
        run: npm ci

  build:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Install dependencies
        run: npm ci

      - name: Build packages
        run: npx nx run-many -t build

  test:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npx nx run-many -t test

  test-coverage:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Install dependencies
        run: npm ci

      - name: Run test coverage
        run: npx nx run-many -t test --coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: false

  lint:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Install dependencies
        run: npm ci

      - name: Run linter
        run: npx nx run-many -t lint

  commitlint:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Install dependencies
        run: npm ci

      - name: Validate commit messages
        run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose

  release:
    runs-on: ubuntu-latest
    needs: [install, build, test, test-coverage, lint, commitlint]
    if: github.event_name != 'pull_request' && github.ref == 'refs/heads/master'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Install dependencies
        run: npm ci

      - name: Release
        uses: ./.github/actions/release
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
